section {
  position: relative;
  background-color: white;
}


.mat-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hotpink;
}


p {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.05rem 0.75rem;
}

.divider {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #D1D5DB;
  margin: 1rem 0;
}


.button-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0.75rem;
}

button {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
}

button.ok {
  color: hotpink;
}

button.cancel {
  background-color: white;
  margin-left: 1.25rem;
}

button:active,
button:focus {
  box-shadow: none;
  border: none;
}
